<header id="top" class="header">
  <div class="text-vertical-center">
	<i class="em em-car"></i>
	<i class="em em-family"></i>
	<i class="em em-sunny"></i>
	<i class="em em-palm_tree"></i>
	<i class="em em-boat"></i>	
	<i class="em em-bikini"></i>
	<i class="em em-sunglasses"></i>
	<i class="em em-v"></i>
	<i class="em em-100"></i>
	<br /><br />
	<h1>Agava Apartments</h1>
    <h3>your family's summer destination</h3>
    <br />
    <a href="#calltoaction" class="btn btn-dark btn-lg">Book your Apartment</a>
  </div>
</header>
