<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TJCHGNH"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

  {% include navigation.html %}
  {% include translation.html %}        
  {% include header.html %}
  {% include about.html %}
  {% include apartments.html %}
  {% include calendar.html %}
  {% include call-to-action.html %}
  {% include map.html %}
  {% include footer.html %}
  {% include scripts.html %}
  
</body>

</html>
